.img {
  border-radius: 5%;
}
.reg {
  text-align: center;
}
label {
  text-align: left;
}
.cancel {
  background-color: darkgray;
  height: 35px;
  width: 35%;
  padding: 25px;
}
.button {
  background-color: red;
  color: white;
  height: 30px;
  margin-right: 150px;
}
.login {
  background-color: green;
  color: white;
  width: 35%;
  height: 35px;
  font-size: 15px;
}
#usename {
  width: 20%;
}
#password {
  width: 20%;
}
button:hover {
  cursor: pointer;
}
